<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" lg="3" md="6" sm="8" class="mx-auto">
          <v-text-field
            v-model="search"
            clear-icon="mdi-close-circle"
            clearable
            counter
            label="Search"
            hint="Search GitHub User API"
            append-outer-icon="mdi-magnify"
            @click:append-outer="getData"
            maxlength="50"
            persistent-hint
            :rules="[rules.required]"
            v-on:keyup.enter="getData"
          ></v-text-field>
          <v-btn color="primary" @click="getData" :loading="loading" small
            >Search</v-btn
          >
          <v-btn
            class="ml-2"
            @click="reset"
            dark
            small
            v-if="data_items.length > 0"
            >Reset</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
    <v-container v-if="data_items.length > 0">
      <v-row>
        <v-col class="mx-auto" cols="12" lg="8" md="10" sm="12">
          <v-data-table
            :items="data_items"
            :headers="headers"
            :loading="loading"
            :search="search"
          >
            <template v-slot:item.url="{ item }">
              <div>
                <a :href="item.html_url" target="_blank">{{ item.html_url }}</a>
              </div>
            </template>
            <template v-slot:item.avatar_url="{ item }">
              <div>
                <img
                  :src="item.avatar_url"
                  :alt="'Avatar for ' + item.login"
                  height="50"
                />
              </div>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Search",
  /**
   * Data
   */
  data() {
    return {
      data_items: [],
      formErrors: [],
      headers: [
        { text: "ID", value: "id" },
        { text: "Login", value: "login" },
        { text: "URL", value: "url" },
        { text: "Avatar", value: "avatar_url" },
      ],
      loading: false,
      rules: {
        required: (value) => !!value || "Required",
        counter: (value) => value.length >= 50 || "Max 50 characters",
      },
      search: "",
    };
  },
  /**
   * Methods
   */
  methods: {
    /**
     * Get data via GitHub API
     */
    getData() {
      this.formErrors = [];
      if (this.search.length > 0) {
        this.loading = true;
        axios
          .get("https://api.github.com/search/users?q=" + this.search)
          .then((response) => {
            this.data_items = response.data.items;
            setTimeout(() => {
              this.loading = false;
            }, 1000);
          })
          .catch((error) => {
            /*console.log.error;*/
          });
      }
    },
    /**
     * Reset
     */
    reset() {
      this.data_items = [];
      this.search = "";
    },
  },
};
</script>
