<template>
  <v-app>
    <v-app-bar app color="#ffc425" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vermeer"
          class="shrink mr-2"
          contain
          src="https://www.vermeer.com/content/images/vermeer-logo.svg"
          transition="scale-transition"
          width="220"
        />
      </div>

      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn text href="/">Home</v-btn>
        <v-menu
          v-model="d_menu"
          :close-on-content-click="false"
          :nudge-width="200"
          offset-x
        >
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">
              Projects
            </v-btn>
          </template>
          <v-card>
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    ><v-btn text href="/" color="orange"
                      >GitHub Search</v-btn
                    ></v-list-item-title
                  >
                  <v-list-item-subtitle
                    >Search for GutHub Users</v-list-item-subtitle
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn
                    href="https://www.github.com"
                    target="_blank"
                    color="primary"
                    dark
                    >Visit</v-btn
                  >
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    ><v-btn
                      text
                      href="https://www.vermeer.com"
                      color="#ffc425"
                      target="_blank"
                      >Vermeer Corporation</v-btn
                    ></v-list-item-title
                  >
                  <v-list-item-subtitle
                    >Industrial and Agricultrual Equipment</v-list-item-subtitle
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn
                    href="https://www.vermeer.com"
                    target="_blank"
                    color="#ffc425"
                    dark
                    >Visit</v-btn
                  >
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </v-toolbar-items>
      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",

  data: () => ({
    color: "success",
    drawer: false,
    d_menu: false,
    flash_alert: null,
    logging_out: false,
    menu: [
      { icon: "mdi-briefcase", title: "Members", link: "/members" },
      { icon: "mdi-chef-hat", title: "About", link: "/about" },
    ],
    message: "Message",
    timeout: 4000,
    y: "bottom",
  }),
});
</script>
